@charset "UTF-8";

@media screen and (max-width: 1020px) {
    p h1 {
       position: relative;
       font-size: 10px;
    }
  }

html {
    height: 100%;
    overflow-x: hidden;
  }

body{
    margin: auto;
}

@font-face {
    font-family: "Walkway";
    src: url('../fontes/Walkway Bold.ttf') format("truetype");
}

@font-face {
    font-family: "AmaticSC-Regular";
    src: url('../fontes/AmaticSC-Regular.ttf') format("truetype");
}


@font-face {
    font-family: "Montserrat";
    src: url('../fontes/Montserrat-VariableFont_wght.ttf') format("truetype");
}

header {
    background-color: #000000;
    text-align: center;
    width: auto;
    height: 330px;
    padding: 1px;
}

h1 {
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 190px;
    margin: auto;
}

header > h2 {
    color: white;
    font-size: 20px;
    font-family: 'Walkway', sans-serif;
}

header > h2 > a {
    color: white;
    font-size: 20px;
    font-family: 'Walkway', sans-serif;
    text-decoration: none;
    margin: auto;
}

h2 > a:hover {
    text-decoration: underline;
}

main {
    font-size: 30pt;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    line-height: 59px;

    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 40px;
}

.s2 {
    height: 850px;
    margin: 0px 0px 0px -40px;

    background:#00000000 url('../imagens/background001.jpg') center center/cover no-repeat fixed;
    box-shadow: #34343487 0px 20px 20px;
}

main > .s2> p {
    color: white;
    background-color: rgba(211, 211, 211, 0.582);

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 10px;
    box-shadow: #34343487 0px 10px 20px;

    position: relative;
    top: 27%;
    left: 3%;
    width: 564px;
    height: 425px;
    padding: 6px 0px 0px 16.5px;
}

.s4 {
    height: 850px;
    margin: 0px 0px 40px -40px;

    background:#00000000 url('../imagens/background002.jpg') center center/cover no-repeat fixed;
    box-shadow: #34343487 0px 20px 20px;
}

main > .s4> p {
    color: white;
    background-color: rgba(84, 84, 84, 0.748);

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 10px;
    box-shadow: #34343487 0px 10px 20px;

    position: relative;
    top: 27%;
    left: 3%;
    width: 564px;
    height: 425px;
    padding: 6px 0px 0px 16.5px;
}

footer {
    font-size: 10pt;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
    background-color: #000000;
    color: white;
    text-align: center;

    height: 16px;
    margin-top: 7px;
}

footer > p >a  {
    text-decoration: none;
    color:white;
}

footer > p > a:hover {
    text-decoration: underline;
    color:white;
}