@charset "UTF-8";

/*TODAS DEMAIS MIDIAS*/


/*Typical Device Breakpoints
Telas pqn: até 600px
Celular: de 600px a 768px
Tablet: 768px ate 992px
Desktop: 992px ate 1200px
Telas Grnd: acima de 1200px
*/

@media print {  /*PRINT*/
    body {
        background-image: url(../imagens/back-print.jpg);  /*DESNECESSARIO*/
    }

    main h1{
        font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
        color: black;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 360x) and (max-width: 720px) { /* PHONE */
    body {
        background-image: url(../imagens/back-phone.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 720px) and (max-width: 992px) { /* TABLET */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
}


@media screen and (min-width: 992px) and (max-width: 1200px) { /* PC */
    body{
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
}

@media screen and (min-width: 1200px) { /* TV */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
}